<!DOCTYPE html>
<html xmlns:th="http:://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../../static/css//bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/simple-sidebar.css}" href="../../static/css//simple-sidebar.css">

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/profile.html" th:href="@{/profile}">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:if="${#request.userPrincipal!=null}" th:href="@{logout}" >LogOut</a>                
                </li>
            </ul>
        </div>
    </nav>
</body>

</html>