<!DOCTYPE html>
<html xmlns:th="http:://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title></title>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../../static/css//bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/simple-sidebar.css}" href="../../static/css//simple-sidebar.css">

</head>

<body>
    <div class="bg-light border-right" id="sidebar-wrapper" style="background: linear-gradient(to left, #99ccff 0%, #9933ff 100%);">
        <div class="sidebar-heading">Timesheet App</div>
        <div class="list-group list-group-flush" style="background: linear-gradient(to left, #99ccff 0%, #9933ff 100%);">
            <a href="projectsView" class="list-group-item list-group-item-action bg-light">Projects</a>
            <a href="tasksView" class="list-group-item list-group-item-action bg-light">Tasks</a>
            <a href="employeesView" class="list-group-item list-group-item-action bg-light">Employees</a>
            <a href="#" class="list-group-item list-group-item-action bg-light">Days Off</a>
            <a href="#" class="list-group-item list-group-item-action bg-light">Timesheets</a>
            <a href="#" class="list-group-item list-group-item-action bg-light">Reports</a>
        </div>
    </div>`
</body>

</html>