<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>
        Employees
    </title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../../static/css//bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/simple-sidebar.css}" href="../../static/css//simple-sidebar.css">
    <link rel="stylesheet" th:href="@{/css/bootstrapContainer.min.css}" href="../../static/css//bootstrapContainer.min.css">
    <link rel="stylesheet" th:href="@{/css/utilsLoginRegister.css}" href="../../static/css//utilsLoginRegister.css">
    <link rel="stylesheet" th:href="@{/css/mainContainer.css}" href="../../static/css//mainContainer.css">

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900|Varela+Round" rel="stylesheet" />
</head>

<body>
    <div class="d-flex" id="wrapper">
        <th:block th:include="layouts/sidebarTemplate.html"></th:block>
        <div id="page-content-wrapper">
            <th:block th:include="layouts/headerTemplate.html"></th:block>
            <div class="container-fluid">
                <div class="wrap-contact100">
                    <th:block th:include="actions/newEmployeeActions.html"></th:block>
                </div>
            </div>
        </div>
    </div>
</body>

</html>