<!DOCTYPE html>
<html xmlns:th="http:://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/loginRegister.css}" href="../../static/css//loginRegister.css}" />
<link rel="stylesheet" th:href="@{/css/utilsLoginRegister.css}" href="../../static/css//utilsLoginRegister.css}" />
<link rel="stylesheet" th:href="@{/fonts/font-awesome.css}" href="../../static/fonts//font-awesome.css">
<link rel="stylesheet" th:href="@{/fonts/font-awesome.min.css}" href="../../static/fonts//font-awesome.min.css">
<link rel="stylesheet" th:href="@{/fonts/icon-font.min.css}" href="../../static/fonts//icon-font.min.css">

<head>
    <title>Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div class="limiter">
        <div class="container-login100" style="background-image: url('images/bg-01.jpg');">
            <div class="wrap-login100 p-l-110 p-r-110 p-t-62 p-b-33">
            	<div th:if="${#request.getParameter('error') == 'true'}">
            		 <div class="alert alert-danger text-center" role="alert">
            		 	<h3>Username or password is incorrect</h3>
            		 </div>
            	</div>
                <form class="login100-form validate-form flex-sb flex-w" name='f' th:action=@{/j_spring_security_check} method="POST">
                    <div class="p-t-31 p-b-9">
                        <span class="txt1"> Email </span>
                    </div>
                    <div class="wrap-input100 validate-input" data-validate="Email is required">
                        <input class="input100" type="text" name="email"> <span class="focus-input100"> </span>
                    </div>

                    <div class="p-t-13 p-b-9">
                        <span class="txt1"> Password </span>
                    </div>
                    <div class="wrap-input100 validate-input" data-validate="Password is required">
                        <input class="input100" type="password" name="password"> <span class="focus-input100"></span>
                    </div>

                    <div class="container-login100-form-btn m-t-17">
                        <button class="login100-form-btn">Sign In</button>
                    </div>

                </form>
                <div class="container-login100-form-btn m-t-17">
                    <button class="login100-form-btn" name="register">Register</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>