<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Employees</title>
</head>

<body>
    <form action="#" th:object="${newEmployeeDTO}" th:action="@{/employeesView}" method="post">

        <h3 align="center">Add Employee</h3>
        <div th:if="${addEmployeeIsAvailable == False}">
            <input class="btn btn-outline-dark custom" name="submit" type="submit" th:value="Add">
            <input class="btn btn-outline-dark custom" name="submit" type="submit" th:value="Delete" />
        </div>
        <br>
        <div th:if="${addEmployeeIsAvailable == True}">

            <div>
                <label for="FirstName">First Name*:</label>
                <div>
                    <input type="text" th:field="*{firstName}"  size="40" placeholder="Enter First Name" minlength="3" maxlength="30"/>
                </div>
            </div>
            <div>
                <label for="LastName">Last Name*:</label>
                <div>
                    <input type="text" th:field="*{lastName}"  size="40" placeholder="Enter Last Name" minlength="3" maxlength="30"/>
                </div>
            </div>
            <div>
                <label for="Email">Email*:</label>
                <div>
                    <input type="email" th:field="*{email}" maxlength="30" size="40" placeholder="Enter Email" />
                </div>
            </div>
            <br>
            <div>
                <input class="btn btn-outline-dark custom" name="submit" type="submit" th:value="Save" />
                <input class="btn btn-outline-dark custom" name="submit" type="submit" th:value="Cancel" />
            </div>
            <br>
        </div>
        <div th:if="${deleteEmployee == false}">
            <div class="alert alert-warning text-center" role="alert">
                <h3> Select an employee </h3>
            </div>
        </div>
        <div th:if="${deleteEmployee == true}">
            <div class="alert alert-success text-center" role="alert">
                <h3> Employee successfully deleted </h3>
            </div>
        </div>
        <div th:if="${uniqueEmailError == true}">
            <div class="alert alert-danger text-center" role="alert">
                <h3> This email is already in use </h3>
            </div>
        </div>
        <div th:if="${uniqueEmailError == false}">
            <div class="alert alert-success text-center" role="alert">
                <h3> Account successfully created </h3>
            </div>
        </div>
        <div>
            <table class="table table-hover" id="datatable">
                <thead class="thead thead-dark">
                    <tr>
                        <th class="span2 text-center">First Name</th>
                        <th class="span2 text-center">Last Name</th>
                        <th class="span2 text-center">Email</th>
                        <th class="span2 text-center">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="employee : ${newEmployeeViewModel.employeeList}">
                        <td class="text-center" th:text="${employee.first_name}">...</td>
                        <td class="text-center" th:text="${employee.last_name}">...</td>
                        <td class="text-center" th:text="${employee.email}">...</td>
                        <td class="text-center">
                            <input class="span2 text-center" type="checkbox" name="delete" th:value="${employee.id}">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </form>
</body>

</html>