<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Projects</title>
</head>

<body>
    <form action="#" th:object="${projectDTO}" th:action="@{/projectsView}" method="post">

        <h3 align="center">Add Project</h3>
        <div th:if="${addProjectIsAvailable == False}">
            <input class="btn btn-outline-dark custom" name="submit" type="submit" th:value="Add">
            <input class="btn btn-outline-dark custom" name="submit" type="submit" th:value="Delete" />
        </div>
        <br>
        <div th:if="${addProjectIsAvailable == True}">
            <div>
                <label for="Code">Code*:</label>
                <div>
                    <input type="text" th:field="*{codeProject}" maxlength="30" size="40" placeholder="Enter Project Code" />
                </div>
            </div>
            <div>
                <label for="Name">Name*:</label>
                <div>
                    <input type="text" th:field="*{name}" maxlength="30" size="40" placeholder="Enter Project Name" />
                </div>
            </div>
            <div>
                <label for="Description">Description*:</label>
                <div>
                    <textarea id="description" th:field="*{description}" rows="20" cols="80" name="description" placeholder="Enter Description" style="height: 200px"></textarea>
                </div>
            </div>
            <br>
            <div>
                <label for="StartDate">Start Date*:</label>
                <div>
                    <input type="date" th:field="*{startDate}" maxlength="30" size="40" placeholder="Enter Project Start Date" />
                </div>
            </div>
            <br>
            <div>
                <label for="EndDate">End Date:</label>
                <div>
                    <input type="date" th:field="*{endDate}" maxlength="30" size="40" placeholder="Enter Project End Date" />
                </div>
            </div>

            <br>
            <div>
                <input class="btn btn-outline-dark custom" name="submit" type="submit" th:value="Save" />
                <input class="btn btn-outline-dark custom" name="submit" type="submit" th:value="Cancel" />
                <!-- <input class="btn btn-outline-dark custom" name="submit" type="submit" th:value="Cancel" /> -->
            </div>
            <br>
        </div>
        <div th:if="${uniqueCodeError == true}">
            <div class="alert alert-danger text-center" role="alert">
                <h3> This project already exists </h3>
            </div>
        </div>
        <div th:if="${uniqueCodeError == false}">
            <div class="alert alert-success text-center" role="alert">
                <h3> Project successfully created </h3>
            </div>
        </div>
        <div>
            <table class="table table-hover" id="datatable">
                <thead class="thead thead-dark">
                    <tr>
                        <th class="span2 text-center">Project Code</th>
                        <th class="span2 text-center">Project Name</th>
                        <th class="span2 text-center">Start Date</th>
                        <th class="span2 text-center">End Date</th>
                        <th class="span2 text-center">Description</th>
                        <th class="span2 text-center">End Project</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="project : ${projectViewModel.projectList}">
                        <td class="text-center" th:text="${project.code}">...</td>
                        <td class="text-center" th:text="${project.name}">...</td>
                        <td class="text-center" th:text="${project.start_date}">...</td>
                        <td class="text-center" th:text="${project.end_date}">...</td>
                        <td class="text-center" th:text="${project.description}">...</td>
                        <td class="text-center">
                        <div th:if="${project.end_date ==''}">
                        	<input class="btn btn-outline-dark " th:name="${project.id}" type="submit" th:value="End" />
                        </div>
                        <div th:if="${project.end_date != ''}">
                        	<input class="btn btn-outline-dark " th:disabled="disabled" th:name="${project.id}" type="submit" th:value="End" />
                        </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </form>
</body>

</html>