<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Tasks</title>
</head>

<body>
    <form action="#" th:object="${taskDTO}" th:action="@{/tasksView}" method="post">

        <h3 align="center">Add Task</h3>
        <div th:if="${addTaskIsAvailable == False}">
            <input class="btn btn-outline-dark custom" name="submit" type="submit" th:value="Add">
            <input class="btn btn-outline-dark custom" name="submit" type="submit" th:value="Delete" />
        </div>
        <br>
        <div th:if="${addTaskIsAvailable == True}">
            <div>
                <label for="Code">Code*:</label>
                <div>
                    <input type="text" th:field="*{codeTask}" maxlength="30" size="40" placeholder="Enter Task Code" />
                </div>
            </div>
            <div>
                <label for="Name">Name*:</label>
                <div>
                    <input type="text" th:field="*{name}" maxlength="30" size="40" placeholder="Enter Task Name" />
                </div>
            </div>
            <div>
                <label for="Description">Description*:</label>
                <div>
                    <textarea id="description" th:field="*{description}" rows="20" cols="80" name="description" placeholder="Enter Description" style="height: 200px"></textarea>
                </div>
            </div>
            <div>
                <label for="Project">Project*:</label>
                <div class="dropdown">
                    <select name="dropdown_list" class="form-control" id="sel1">
                        <option disabled selected value="">Select Project</option>
                        <option th:each="project : ${projects.projectList}" th:text="${project.code}+' : '+${project.name}" th:value="${project.code}" />
                    </select>
                </div>
            </div>
            <br>
            <div>
                <input class="btn btn-outline-dark custom" name="submit" type="submit" th:value="Save" />
                <input class="btn btn-outline-dark custom" name="submit" type="submit" th:value="Cancel" />
            </div>
            <br>
        </div>
        <div th:if="${uniqueCodeError == true}">
            <div class="alert alert-danger text-center" role="alert">
                <h3> This task already exists </h3>
            </div>
        </div>
        <div th:if="${uniqueCodeError == false}">
            <div class="alert alert-success text-center" role="alert">
                <h3> Task successfully created </h3>
            </div>
        </div>
        <div>
            <table class="table table-hover" id="datatable">
                <thead class="thead thead-dark">
                    <tr>
                        <th class="span2 text-center">Task Code</th>
                        <th class="span2 text-center">Name</th>
                        <th class="span2 text-center">Description</th>
                        <th class="span2 text-center">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="task : ${taskViewModel.taskList}">
                        <td class="text-center" th:text="${task.code}">...</td>
                        <td class="text-center" th:text="${task.name}">...</td>
                        <td class="text-center" th:text="${task.description}">...</td>
                        <td class="text-center">
                            <input class="span2 text-center" type="checkbox" name="delete" th:value="${task.id}">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </form>
</body>

</html>