/*//////////////////////////////////////////////////////////////////
[ FONT ]*/
@font-face {
	font-family: Raleway-Black;
	src: url('../fonts/raleway/Raleway-Black.ttf');
}

@font-face {
	font-family: Raleway-SemiBold;
	src: url('../fonts/raleway/Raleway-SemiBold.ttf');
}

@font-face {
	font-family: Raleway-Bold;
	src: url('../fonts/raleway/Raleway-Bold.ttf');
}

/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body, html {
	height: 100%;
	font-family: Raleway-SemiBold, sans-serif;
}

/*---------------------------------------------*/
a {
	font-family: Raleway-SemiBold;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	-moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
}

/*---------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
	margin: 0px;
}

p {
	font-family: Raleway-SemiBold;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
}

ul, li {
	margin: 0px;
	list-style-type: none;
}

/*---------------------------------------------*/
input {
	outline: none;
	border: none;
}

textarea {
	outline: none;
	border: none;
}

textarea:focus, input:focus {
	border-color: transparent !important;
}

input:focus::-webkit-input-placeholder {
	color: transparent;
}

input:focus:-moz-placeholder {
	color: transparent;
}

input:focus::-moz-placeholder {
	color: transparent;
}

input:focus:-ms-input-placeholder {
	color: transparent;
}

textarea:focus::-webkit-input-placeholder {
	color: transparent;
}

textarea:focus:-moz-placeholder {
	color: transparent;
}

textarea:focus::-moz-placeholder {
	color: transparent;
}

textarea:focus:-ms-input-placeholder {
	color: transparent;
}

input::-webkit-input-placeholder {
	color: #adadad;
}

input:-moz-placeholder {
	color: #adadad;
}

input::-moz-placeholder {
	color: #adadad;
}

input:-ms-input-placeholder {
	color: #adadad;
}

textarea::-webkit-input-placeholder {
	color: #adadad;
}

textarea:-moz-placeholder {
	color: #adadad;
}

textarea::-moz-placeholder {
	color: #adadad;
}

textarea:-ms-input-placeholder {
	color: #adadad;
}

/*---------------------------------------------*/
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}

/*//////////////////////////////////////////////////////////////////
[ Contact ]*/
.container-contact100 {
	width: 100%;
	min-height: 100vh;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 15px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.wrap-contact100 {
	margin: 60px 60px 60px 60px;
	max-width: 1200px;
	background: #fff;
	border-radius: 2px;
	padding: 66px 115px 59px 115px;
	position: relative;
}

/*==================================================================
[ Form ]*/
.contact100-form {
	margin: 0px -20px -20px -40px; width : 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
}

.contact100-form-title {
	display: block;
	width: 100%;
	font-family: Raleway-Black;
	font-size: 20px;
	color: #333333;
	line-height: 1.2;
	text-transform: uppercase;
	text-align: left;
	padding-bottom: 20px;
}

/*------------------------------------------------------------------
[ Input ]*/
.wrap-input100 {
	width: 100%;
	position: relative;
	background-color: transparent;
	margin-bottom: 35px;
}

.rs1-wrap-input100 {
	width: calc(( 100% - 30px)/2);
}

.label-input100 {
	font-family: Raleway-SemiBold;
	font-size: 14px;
	color: #555555;
	line-height: 1.5;
}

.input100 {
	display: block;
	width: 100%;
	background: #f2f2f2;
	border-radius: 2px;
	font-family: Raleway-SemiBold;
	font-size: 20px;
	color: #686868;
	line-height: 1.2;
	padding: 0 28px;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
	margin-top: 10px;
}

/*---------------------------------------------*/
input.input100 {
	height: 62px;
}

textarea.input100 {
	min-height: 162px;
	padding-top: 19px;
	padding-bottom: 13px;
}

.input100:focus {
	background: #e6e6e6;
}

/*------------------------------------------------------------------
[ Button ]*/
.container-contact100-form-btn {
	width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 5px;
}

.wrap-contact100-form-btn {
	display: block;
	position: relative;
	z-index: 1;
	margin:0px 50px 5px 100px;
	border-radius: 2px;
	overflow: hidden;
}

.contact100-form-bgbtn {
	position: absolute;
	z-index: -1;
	width: 300%;
	height: 100%;
	background: #df2351;
	background: -webkit-linear-gradient(right, #99ccff,#9933ff, #99ccff,#9933ff);
	background: -o-linear-gradient(right, #99ccff,#9933ff, #99ccff,#9933ff);
	background: -moz-linear-gradient(right, #99ccff,#9933ff, #99ccff,#9933ff);
	background: linear-gradient(right, #99ccff,#9933ff,#99ccff,#9933ff);
	top: 0;
	left: -100%;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
}

.contact100-form-btn {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 20px;
	min-width: 150px;
	height: 62px;
	font-family: Raleway-Bold;
	font-size: 16px;
	color: #fff;
	line-height: 1.2;
	text-transform: uppercase;
}

.wrap-contact100-form-btn:hover .contact100-form-bgbtn {
	left: 0;
}

/*------------------------------------------------------------------
[ Responsive ]*/
@media ( max-width : 992px) {
	.wrap-contact100 {
		padding: 66px 80px 59px 80px;
	}
}

@media ( max-width : 768px) {
	.rs1-wrap-input100 {
		width: 100%;
	}
}

@media ( max-width : 576px) {
	.wrap-contact100 {
		padding: 66px 15px 59px 15px;
	}
}

/*------------------------------------------------------------------
[ Alert validate ]*/
.validate-input {
	position: relative;
}

.alert-validate::before {
	content: attr(data-validate);
	position: absolute;
	max-width: 70%;
	background-color: #fff;
	border: 1px solid #c80000;
	border-radius: 2px;
	padding: 4px 25px 4px 10px;
	bottom: calc(( 100% - 34px)/2);
	-webkit-transform: translateY(50%);
	-moz-transform: translateY(50%);
	-ms-transform: translateY(50%);
	-o-transform: translateY(50%);
	transform: translateY(50%);
	right: 10px;
	pointer-events: none;
	font-family: Raleway-SemiBold;
	color: #c80000;
	font-size: 13px;
	line-height: 1.4;
	text-align: left;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: opacity 0.4s;
	-o-transition: opacity 0.4s;
	-moz-transition: opacity 0.4s;
	transition: opacity 0.4s;
}

.alert-validate::after {
	content: "\f12a";
	font-family: FontAwesome;
	display: block;
	position: absolute;
	color: #c80000;
	font-size: 16px;
	bottom: calc(( 100% - 34px)/2);
	-webkit-transform: translateY(50%);
	-moz-transform: translateY(50%);
	-ms-transform: translateY(50%);
	-o-transform: translateY(50%);
	transform: translateY(50%);
	right: 18px;
}

.alert-validate:hover:before {
	visibility: visible;
	opacity: 1;
}

@media ( max-width : 992px) {
	.alert-validate::before {
		visibility: visible;
		opacity: 1;
	}
}

/*==================================================================
[ Contact more ]*/
.contact100-more {
	display: block;
	max-width: 960px;
	font-family: Raleway-SemiBold;
	font-size: 20px;
	color: #fff;
	line-height: 1.4;
	text-align: center;
	padding: 40px 0 10px 0;
}