<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Bootstrap core CSS -->
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"
	href="../../static/css//bootstrap.min.css">
<!-- Custom styles for this template -->
<link rel="stylesheet" th:href="@{/css/simple-sidebar.css}"
	href="../../static/css//simple-sidebar.css">

<link rel="stylesheet" th:href="@{/css/bootstrapContainer.min.css}" href = "../../static/css//bootstrapContainer.min.css" >
<link rel="stylesheet" th:href="@{/css/utilsLoginRegister.css}" href = "../../static/css//utilsLoginRegister.css" >
<link rel="stylesheet" th:href="@{/css/mainContainer.css}" href = "../../static/css//mainContainer.css" >
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<meta name="description" content="" />
<link
	href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900|Varela+Round"
	rel="stylesheet" />
</head>
<body>
	<div class="d-flex" id="wrapper">
		<th:block th:include="layouts/sidebarTemplate.html"></th:block>
		<div id="page-content-wrapper">
			<th:block th:include="layouts/headerTemplate.html"></th:block>
			<div class="container-fluid">
				 <div class="wrap-contact100">
			<form class="contact100-form validate-form">
				<span class="contact100-form-title">
					Add new employee
				</span>

				<div class="wrap-input100 rs1-wrap-input100 validate-input" data-validate="First Name is required">
					<span class="label-input100">First Name *</span>
					<input class="input100" type="text" name="firstName" placeholder="Enter First Name">
				</div>
				
				<div class="wrap-input100 rs1-wrap-input100 validate-input" data-validate="Last Name is required">
					<span class="label-input100">Last Name *</span>
					<input class="input100" type="text" name="lastName" placeholder="Enter Last Name">
				</div>
				
				<div class="wrap-input100 rs1-wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
					<span class="label-input100">Email *</span>
					<input class="input100" type="text" name="email" placeholder="Enter email">
				</div>

				<div class="container-contact100-form-btn">
					<div class="wrap-contact100-form-btn">
						<div class="contact100-form-bgbtn"></div>
						<button class="contact100-form-btn">
							Add
						</button>
					</div>
					<div class="wrap-contact100-form-btn">
						<div class="contact100-form-bgbtn"></div>
						<button class="contact100-form-btn">
							Back
						</button>
					</div>
				</div>
			</form>
		</div>
			</div>
		</div>
	</div>

</body>
</html>